<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - faceTodoApplication</title>
        <h2>Face Todo</h2>
                <hr />

     @RenderBody()

</head>
<body>
   
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - faceTodoApplication</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
